<div class="row">

    <p class="texto">
    <img src="../../../assets/diploma.gif" align="right" class="gif">
        Educación
    </p>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark add-button" routerLink="/nuevaedu" *ngIf="isLogged"><h3><i class="bi bi-plus"></i></h3>Agregar Educación</button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of edu">
                    <td>
                        <h4>{{Educacion.nombreEdu}}</h4>
                    </td>
                    <td>
                        <h4>{{Educacion.descripcionEdu}}</h4>
                    </td>
                    <td>
                        <h4>{{Educacion.fechaEdu}}</h4>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light edit-button" routerLink="/editedu/{{Educacion.id}}" Title="Editar">
                            <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger delete-button" (click)="delete(Educacion.id)" Title="Eliminar">
                            <i class="bi bi-trash-fill"></i></button>

                    </td>
                    
                </tr>

            </tbody>
        </table>
    </div>

</div>

